:root {
    --ck-z-default: 1; /* Modified for pagination line*/
    --ck-z-modal: calc( var(--ck-z-default) + 1504 ); /* Modified for pagination line*/
}

/* ------- Overall editor --------*/

.document-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);

    /* Set vertical boundaries for the document editor. */
    /*max-height: 700px;*/

    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;

    height:100%; /* Added. */
}



/* ------ Toolbar ------*/

.document-editor__toolbar {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;

    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );

    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-bottom: 1px solid var(--ck-color-toolbar-border);
}

/* Adjust the look of the toolbar inside the container. */
.document-editor__toolbar .ck-toolbar {
    border: 0;
    border-radius: 0;
}




/* ----- Paper page-like design -------*/

/* Make the editable container look like the inside of a native word processor application. */
.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large) );
    background: var(--ck-color-base-foreground);

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;

    height:100%; /* Added. */
}

.document-editor__editable-container .ck-editor__editable {
    /* Set the dimensions of the "page". 
    width: 15.8cm;
    min-height: 21cm;*/

    /* Keep the "page" off the boundaries of the container. */
    padding: 1cm 2cm 2cm;

    border: 1px hsl( 0,0%,82.7% ) solid;
    border-radius: var(--ck-border-radius);
    background: white;

    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );

    /* Center the "page". */
    margin: 0 auto;
} 


/* ----- Not sure what this is -------*/
.ck.ck-editor__editable_inline {
    /* A4 size */
    width: calc( 210mm + 2px ); /* Expand the width by 2px because of the border and "box-sizing: border-box". */
    height: auto;
    min-height: 29.7cm;/*Added*/
    padding: 2.54cm 2.54cm;/*Modified*/
    box-sizing: border-box;

    border: 1px solid hsl( 0, 0%, 88% );
    background: hsl( 0, 0%, 100% );
    box-shadow: 0 2px 8px hsla( 0, 0%, 0%, .08 );
    margin: 40px auto;
    overflow: hidden;
}


/* ------- Default Editor Formating -----*/

/* Set the default font for the "page" of the content. */
.document-editor .ck-content,.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    font: 12pt/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;/*Modified*/
}


/* ------- Paragraph Default Formating -----*/

.document-editor .ck-content h2,.document-editor .ck-content p,
.document-editor .ck-content h1, .document-editor .ck-content h3,
.document-editor .ck-content h4,.document-editor .ck-content h5,
.document-editor .ck-content h6,.document-editor .ck-content span{
    margin-block-end :0;
    margin-block-start :0;
    font-size:inherit;
    margin-inline-start: 0;
    margin-inline-end: 0;
}


/* Adjust the headings dropdown to host some larger heading styles. */
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    line-height: calc( 1.7 * var(--ck-line-height-base) * var(--ck-font-size-base) );
    min-width: 6em;
}

/* Scale down all heading previews because they are way too big to be presented in the UI.
Preserve the relative scale, though. */
.document-editor .ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {
    transform: scale(0.8);
    transform-origin: left;
}

/* Set the styles for "Heading 1". */
.document-editor .ck-content h2,
.document-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
    font-size: inherit;
    font-weight: inherit;
}

.document-editor .ck-content h2 {
    line-height: inherit;
    padding-top: 0;
    margin-bottom: 0; 
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3,
.document-editor .ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.document-editor .ck-heading-dropdown .ck-heading_heading2.ck-on .ck-button__label {
    color: inherit;
}

/* Set the styles for "Heading 2". */
.document-editor .ck-content h3 {
    line-height: inherit;
    padding-top: 0;
    margin-bottom: 0;
}

/* Set the styles for "Heading 3". */
.document-editor .ck-content h4,
.document-editor .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
    font-size: inherit;
    font-weight: inherit;
}

.document-editor .ck-content h4 {
    line-height: inherit;
    padding-top: 0;
    margin-bottom: 0;
}

/* Set the styles for "Paragraph". */
.document-editor .ck-content p {
    font-size: 12pt;
    line-height: 1.5;
    padding-top: 0;
    margin-bottom: 0;
}


/* -------Block Quote --------*/
/* Make the block quoted text serif with some additional spacing. */
.document-editor .ck-content blockquote {
    font-family: Georgia, serif;
    margin-left: calc( 2 * var(--ck-spacing-large) );
    margin-right: calc( 2 * var(--ck-spacing-large) );
}

/* -------Pagination --------*/
/* Pagination view line must be stacked at least at the same level as the editor,
    otherwise it will be hidden underneath.*/
.ck.ck-pagination-view-line {
        z-index: 1600;
    }





/* ------- Print Formating -----*/

/* Set the default font for the "page" of the content. */
.print.ck-content,.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    font: 12pt/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;/*Modified*/
}


.print.ck-content h2,.print.ck-content p,
.print.ck-content h1,.print.ck-content h3,
.print.ck-content h4,.print.ck-content h5,
.print.ck-content h6,.print.ck-content span {
    margin-block-end :0;
    margin-block-start :0;
    font-size:inherit;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

/* Adjust the headings dropdown to host some larger heading styles. */
.print.ck-heading-dropdown .ck-list .ck-button__label {
    line-height: calc( 1.7 * var(--ck-line-height-base) * var(--ck-font-size-base) );
    min-width: 6em;
}

/* Scale down all heading previews because they are way too big to be presented in the UI.
Preserve the relative scale, though. */
.print.ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {
    transform: scale(0.8);
    transform-origin: left;
}

/* Set the styles for "Heading 1". */
.print.ck-content h2,
.document-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
    font-size: inherit;
    font-weight: inherit;
}

.print.ck-content h2 {
    line-height: inherit;
    padding-top: 0;
    margin-bottom: 0; 
}

/* Set the styles for "Heading 2". */
.print.ck-content h3,
.print.ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.print.ck-heading-dropdown .ck-heading_heading2.ck-on .ck-button__label {
    color: inherit;
}

/* Set the styles for "Heading 2". */
.print.ck-content h3 {
    line-height: inherit;
    padding-top: 0;
    margin-bottom: 0;
}

/* Set the styles for "Heading 3". */
.print.ck-content h4,
.print .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
    font-size: inherit;
    font-weight: inherit;
}

.print.ck-content h4 {
    line-height: inherit;
    padding-top: 0;
    margin-bottom: 0;
}

/* Set the styles for "Paragraph". */
.print.ck-content p {
    font-size: 12pt;
    line-height: 1.5;
    padding-top: 0;
    margin-bottom: 0;
}

